In [12]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/traffic.csv')  # Use correct file name
df.head()

df.info()
df.describe()
df.isnull().sum()
df.columns

# Convert Date to datetime
df['date'] = pd.to_datetime(df['date'])

# Drop nulls
df = df.dropna()

# Check again
df.info()
# Set date as index
df.set_index('date', inplace=True)

import seaborn as sns
import matplotlib.pyplot as plt

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226278 entries, 0 to 226277
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   event    226278 non-null  object
 1   date     226278 non-null  object
 2   country  226267 non-null  object
 3   city     226267 non-null  object
 4   artist   226241 non-null  object
 5   album    226273 non-null  object
 6   track    226273 non-null  object
 7   isrc     219157 non-null  object
 8   linkid   226278 non-null  object
dtypes: object(9)
memory usage: 15.5+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 219149 entries, 0 to 226277
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   event    219149 non-null  object
 1   date     219149 non-null  datetime64[ns]
 2   country  219149 non-null  object
 3   city     219149 non-null  object
 4   artist   219149 non-null  object
 5   album    219149 non-null  object
 6   track    219149 non-null  object
 7   isrc     219149 non-null  object
 8   linkid   219149 non-null  object
dtypes: datetime64[ns](1), object(8)
memory usage: 16.7+ MB

## üìù Conclusion:

- Most sessions came from Organic Search.
- Bounce rate is lowest from Direct traffic.
- Website traffic peaked in December.